body {
font-family: Arial;
margin: 30px;
}

form input, form textarea, form select, form button {
display: block;
margin-bottom: 10px;
padding: 8px;
width: 300px;
}

li {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 10px;
list-style: none;
}

button.small {
width: auto;
margin-right: 5px;
}
